<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--<a class="lead" href="/campgrounds">YelpCamp</a>-->
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item" id="favorite-li">Favorite</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full clearfix">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p><em>Submitted by</em> <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></p>
                    <% if(currentUser) { %>
                        <% console.log(campground._id); %>
                        <form id="favorite-form" action="/favorites/<%= campground._id %>" method="GET">
                            <button type="submit" class="pull-right <%= currentUser.favorites.indexOf("/campgrounds/"+campground._id) !== -1 ? "favorite-btn-on" : "" %>" id="favorite-btn">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </button>
                        </form>
                    <% } %>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" id="delete-camp-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                    <div class="form-group">
                        <input class="form-control" id="input-comment" type="text" name="comment[text]" placeholder="leave a comment"></input>
                    </div>
                    <div class="form-group" id="add-comment">
                        <button class="btn btn-sm btn-primary btn-block responsive-btn">Add Comment</button>
                    </div>
                </form>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong class="comment-display"><%= comment.author.username %></strong>
                            <span class="comment-display pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p class="comment-display">
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="comment-button btn btn-xs btn-warning" 
                                href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                <form class="delete-form comment-button" id="delete-comment-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form> 
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZSRcWhhP10rFouznfFIAwVDRjPR_DGp4&callback=initMap"></script>
<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }

//   window.onload = initMap;
</script>

<% include ../partials/footer %>